NEXT_PUBLIC_APP_NAME=0xcafe
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development


NEXT_PUBLIC_REOWN_PROJECT_ID=9b12cb8ae278b23ade8fc2817f49fd5f
NEXT_PUBLIC_SUPPORTED_CHAINS=1,56,137,42161,8453

# Telegram Bot Configuration
# Get your bot token from @BotFather on Telegram
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=your_bot_username