NEXT_PUBLIC_APP_NAME=0xcafe
NEXT_PUBLIC_APP_URL=http://localhost:3000


NEXT_PUBLIC_REOWN_PROJECT_ID=Your Project ID
NEXT_PUBLIC_SUPPORTED_CHAINS=1,10,56,137,42161,8453

# Etherscan API Key
NEXT_PUBLIC_ETHERSCAN_API_KEY=Your Etherscan API Key

# Alchemy Api Key
NEXT_PUBLIC_ALCHEMY_API_KEY=Your Alchemy Api Key

# Supabase Configuration (PostgreSQL)
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here



# Telegram Bot Configuration
# Get your bot token from @BotFather on Telegram
NEXT_PUBLIC_TELEGRAM_BOT_TOKEN=Your Telegram Bot Token
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=Your Telegram Bot Username


# Contact Link
NEXT_PUBLIC_GITHUB_LINK=https://github.com/0xSnickers/0xcafe-website
NEXT_PUBLIC_TELEGRAM_GROUP_LINK=https://t.me/+46aZt1mS-WwwMjg1
NEXT_PUBLIC_TWITTER_CONTACT_LINK=https://x.com/0xcafedotfun
NEXT_PUBLIC_GMAIL_CONTACT_LINK=pakholee1997@gmail.com

